* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  background: white;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}

.panel {
  background: #f2f2f2;
  border: 1px solid #e6e6e6;
  margin: 0 0 22px 0;
  padding: 20px;
}

.panel h2 {
  font-size: 55px;
  text-align: center;
}

.ten-cols {
  display: flexbox;
  text-align: center;
}

.ten-cols ul li {
  display: inline;
  margin: 10px;
}

.button {
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  padding: 10px 20px 11px;
  position: relative;
  text-align: center;
  background: #2ba6cb;
  border: 1px solid #2284a1;
  width: 22%;
  color: white;
  box-shadow: 3px 3px rgba(22,22,22,0.3); 
}

.button:active {
  background: #2284a1;
}

.button:focus {
  background: #2284a1;
}

.time {
  text-align: center;
  padding: 0 15px;
  font-size: 95px;
  font-weight: bold;
  color: #222222;
  line-height: 1.1;
  margin-bottom: 50px;
  margin-top: 50px;
}

.control-buttons ul li {

    display: inline;
    margin: 25px;

}

.control-buttons{
  text-align: center;
  padding: 0 15px;
}

.control-buttons button {
  width: 120px;
  border-radius: 3px;
  font-size: 17px;
  padding: 15px 30px 16px;

}

.control-buttons #start{
  background: #5da423;
  border-color: #396516;
  box-shadow: 3px 3px rgba(22,22,22,0.3);
}

.control-buttons #start:hover{
  background: #457a1a;
}

.control-buttons #start:focus{
  background: #457a1a;
}

.control-buttons #stop{
  background: #c60f13;
  border: 1px solid #7f0a0c;
  box-shadow: 3px 3px rgba(22,22,22,0.3);
}

.control-buttons #stop:hover{
  background: #7f0a0c;
}

.control-buttons #stop:focus{
  background: #7f0a0c;
}


.control-buttons #reset{
  color: #1d1d1d;
  background: #d0d0d0;
    box-shadow: 3px 3px rgba(22,22,22,0.3);
  border: 1px solid #c3c3c3;
}


.control-buttons #reset:hover{
  background: #c3c3c3;
}

.control-buttons #reset:focus{
  background: #c3c3c3;
}

.footer {
  text-align: center;
  width: 66vw;
  font-size: 18px;
  margin: 0 auto;

}

.footer p {
  margin: 45px;
  text-align: center;
  line-height: 1.5em;
  text-justify: distribute;
}

